fastapi==0.115.12
uvicorn==0.34.2
redis==6.1.0
requests==2.32.3
funasr==1.2.6
torch==2.7.0
tqdm==4.67.1
pydantic==2.11.5
python-multipart==0.0.20
aiofiles==24.1.0
typer==0.15.4
torchaudio==2.7.0
modelscope==1.26.0
huggingface==0.0.1